@import "tailwindcss";

:root {
  --background: oklch(98.4% 0.003 247.858);
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #08415c;
  --color-light: #0a5679;
  --color-secondary: #c95c08; /* 846C08 */
  --color-secondary-light: #f26f0a; /* 846C08 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer components {
  .card {
    @apply bg-white px-6 py-12 shadow-md rounded-xl sm:px-12 relative overflow-hidden;
  }
  .form-label {
    @apply block text-sm/6 font-medium text-gray-900;
  }
  .form {
    @apply block w-full rounded-xl bg-white px-3 py-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-slate-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-primary sm:text-sm/6;
  }
  .btn-primary {
    @apply flex justify-center rounded-xl bg-primary px-3 py-3 text-sm/6 font-semibold text-white shadow-xs hover:bg-light focus-visible:outline-2 focus-visible:outline-offset-2;
  }
  .btn-secondary {
    @apply flex justify-center rounded-xl bg-secondary px-3 py-3 text-sm/6 font-semibold text-white shadow-xs hover:bg-secondary-light focus-visible:outline-2 focus-visible:outline-offset-2;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
